<div style="text-align:center"><h3>新增用户</h3></div>
<form class="form-horizontal" role="form" action="${rc.contextPath}/user/save" method="post">
  <div class="control-group">
    <label class="col-sm-2 control-label">用户名</label>
    <div class="controls">
      <input type="text" name="name" class="input-xlarge" placeholder="用户名"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">初始密码</label>
    <div class="controls">
      <input type="text" name="password" class="input-xlarge" placeholder="初始密码"/>
    </div>
  </div>
  <div class="control-group">
    <div class="col-sm-offset-2 controls">
      <button type="submit" class="btn btn-default">新增</button>
    </div>
  </div>
</form>
