<script type="text/javascript"> 
function check() {
	var new1 = $('#new1').val();
	var new2 = $('#new2').val();
	if (new1 != new2) {
		alert('两次新密码输入的不一致!');
		return false;
	} else {
		return true;
	}
}
</script>
<div style="text-align:center"><h3>修改密码</h3></div>
#if($message)
<div class="alert alert-danger alert-dismissable">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    	$!{message}
</div>
#end
<form class="form-horizontal" role="form" action="${rc.contextPath}/user/update" method="post" onsubmit="return check();">
  <div class="control-group">
    <label class="col-sm-2 control-label">原始密码</label>
    <div class="controls">
      <input type="password" name="old" class="input-xlarge" placeholder="原始密码"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">新密码</label>
    <div class="controls">
      <input id="new1" type="password" name="new" class="input-xlarge" placeholder="新密码"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">再次输入新密码</label>
    <div class="controls">
      <input id="new2" type="password" class="input-xlarge" placeholder="再次输入新密码"/>
    </div>
  </div>
  <div class="control-group">
    <div class="col-sm-offset-2 controls">
      <button type="submit" class="btn btn-default">修改</button>
    </div>
  </div>
</form>
