<script src="${rc.contextPath}/js/datepicker/WdatePicker.js"></script>
<div style="text-align:center"><h3>学员具体信息——$!{student.name}</h3></div>
<form class="form-horizontal" role="form">
  <div class="control-group">
    <label class="col-sm-2 control-label">合同编号</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="pact" value="$!{student.pact}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">学员编号</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="id" value="$!{student.id}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">学员姓名</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="name" value="$!{student.name}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">年级</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="grade" value="$!{student.grade}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">学校班级</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="banji" value="$!{student.banji}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">家庭地址</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="address" value="$!{student.address}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">联系方式一</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="tel" value="$!{student.tel}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">联系方式二</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="phone" value="$!{student.phone}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">所报科目</label>
    <div class="controls">
		#foreach($!{course} in $!{student.courseList})
		<label class="checkbox inline">
			<input disabled="disabled" checked="checked" type="checkbox" name="course">$!{course}</input>
        </label>
		#end
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">辅导模式</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="phone" value="$!{student.model}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">所报课时（小时）</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="period" value="$!{student.periodDisplay}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">课时单价（元/小时）</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="price" value="$!{student.price}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">赠送课时（不能为空，默认0）</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="gift" value="$!{student.giftDisplay}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">优惠条件</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="tiaojian" value="$!{student.tiaojian}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">总金额</label>
    <div class="controls">
      <input disabled="disabled" type="text" name="amount" value="$!{student.amount}" class="input-xlarge"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">学员情况</label>
    <div class="controls">
      <textarea class="input-xlarge" disabled="disabled" name="description" rows="5">$!{student.description}</textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">签约日期</label>
    <div class="controls">
      <input disabled="disabled" id="date" name="date" value="$!{student.date}" type="text" class="span3">
    </div>
  </div>
</form>
