<script type="text/javascript" language="javascript" src="${rc.contextPath}/js/dataTableUtil.js"></script>
<script type="text/javascript"> 
$(document).ready(function(){
    var priority = $!{sessionUser.priority};
	var column = [
            { "data": "id" },
            { "data": "name" },
            { "data": "detail" },
            { "data": "paike" },
            { "data": "callback" }
        ];
	if (priority < 100) {
		column = [
            { "data": "id" },
            { "data": "name" },
            { "data": "callback" }
        ];
	}
	$('#profileTable').dataTable({   
		"language" : lang,
		"destroy": true,
		"processing": true,
		"serverSide" : false,    
		"ajax": "${rc.contextPath}/callback/list?rand="+Math.random(),
		"columns": column
	});
});
</script>
<link rel="stylesheet" href="${rc.contextPath}/css/page.css">
<link rel="stylesheet" type="text/css" href="${rc.contextPath}/css/dataTables.bootstrap.css">
<script type="text/javascript" language="javascript" src="${rc.contextPath}/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="${rc.contextPath}/js/dataTables.bootstrap.js"></script>
<div style="text-align:center"><h3>学员列表</h3></div>
<div class="tab-pane" id="shop_profile" style="margin-bottom:10px;">
		<table id="profileTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
                <tr>
                    <td>学员编号</td>
                    <td>学员姓名</td>
					#if($!{sessionUser.priority} == 100)
                    <td>详细信息</td>
                    <td>排课信息</td>
					#end
                    <td>回访信息</td>
                </tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div> 
