<script src="${rc.contextPath}/js/datepicker/WdatePicker.js"></script>
<script src="${rc.contextPath}/js/validate.js"></script>
<div style="text-align:center"><h3>合同录入（<span style="color:red;">*</span>为必填项）</h3></div>
<form class="form-horizontal" role="form" action="${rc.contextPath}/period/save" method="post" onsubmit="return check();">
  <div class="control-group">
    <label class="col-sm-2 control-label">合同编号</label>
    <div class="controls">
      <input type="text" name="pact" value="$!{pact}" class="input-xlarge" placeholder="合同编号"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">学员编号</label>
    <div class="controls">
      <input type="text" name="id" value="$!{id}" class="input-xlarge" placeholder="学员编号"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">学员姓名<span style="color:red;">*</span></label>
    <div class="controls">
      <input id="name" type="text" name="name" value="$!{name}" class="input-xlarge" placeholder="学员姓名"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">年级</label>
    <div class="controls">
	  <select name="grade">
		<option value="1000">--请选择年级--</option>
        <option value="1">小学一年级</option>
        <option value="2">小学二年级</option>
        <option value="3">小学三年级</option>
        <option value="4">小学四年级</option>
        <option value="5">小学五年级</option>
        <option value="6">小学六年级</option>
        <option value="7">初一</option>
        <option value="8">初二</option>
        <option value="9">初三</option>
        <option value="10">高一</option>
        <option value="11">高二</option>
        <option value="12">高三</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">学校班级</label>
    <div class="controls">
      <input type="text" name="banji" value="$!{banji}" class="input-xlarge" placeholder="学校班级"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">家庭地址</label>
    <div class="controls">
      <input type="text" name="address" value="$!{address}" class="input-xlarge" placeholder="家庭地址"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">联系方式一</label>
    <div class="controls">
      <input type="text" name="tel" value="$!{tel}" class="input-xlarge" placeholder="联系方式一"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">联系方式二</label>
    <div class="controls">
      <input type="text" name="phone" value="$!{phone}" class="input-xlarge" placeholder="联系方式二"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">所报科目<span style="color:red;">*</span></label>
    <div class="controls">
		#foreach($!{course} in $!{list})
		<label class="checkbox inline">
			<input type="checkbox" name="course" value="$!{course.name}">$!{course.name}</input>
        </label>
		#end
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">辅导模式</label>
    <div class="controls">
      <select name="model">
        <option>1对1</option>
        <option>1对2</option>
        <option>其他</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">所报课时（小时）<span style="color:red;">*</span></label>
    <div class="controls">
      <input id="keshi" type="text" name="period" value="$!{period}" class="input-xlarge" placeholder="所报课时（小时）"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">课时单价（元/小时）<span style="color:red;">*</span></label>
    <div class="controls">
      <input id="kejia" type="text" name="price" value="$!{price}" class="input-xlarge" placeholder="课时单价（元/小时）"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">赠送课时（默认0）<span style="color:red;">*</span></label>
    <div class="controls">
      <input id="gift" type="text" name="gift" value="0" class="input-xlarge" placeholder="赠送课时"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">优惠条件</label>
    <div class="controls">
      <input type="text" name="tiaojian" value="$!{tiaojian}" class="input-xlarge" placeholder="优惠条件"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">总金额<span style="color:red;">*</span></label>
    <div class="controls">
      <input id="amount" type="text" name="amount" value="$!{amount}" class="input-xlarge" placeholder="总金额"/>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">学员情况</label>
    <div class="controls">
      <textarea class="input-xlarge" name="description" rows="5"></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">签约日期</label>
    <div class="controls">
      <input id="date" name="date" value="$!{date}" type="text" class="span3" placeholder="签约日期" onfocus="WdatePicker()">
    </div>
  </div>
  <div class="control-group">
    <label class="col-sm-2 control-label">签约人</label>
    <div class="controls">
      <input name="operator" value="$!{operator}" type="text" class="input-xlarge" placeholder="签约人">
    </div>
  </div>
  <div class="control-group">
    <div class="col-sm-offset-2 controls">
      <button type="submit" class="btn btn-danger">财务确认</button>
      <button type="submit" class="btn btn-default">提交申请</button>
    </div>
  </div>
</form>
