<script type="text/javascript" language="javascript" src="${rc.contextPath}/js/dataTableUtil.js"></script>
<script type="text/javascript"> 
var lang = {
        "lengthMenu": "每页显示 _MENU_ 条记录",
        "zeroRecords": "Nothing found - 没有记录",
        "info": "显示第  _START_ 条到第  _END_ 条记录, 共  _TOTAL_ 条记录",
        "infoEmpty": "显示0条记录",
        "processing": "数据加载中...",
        "search": "查找：",
        "paginate": {
                "sFirst": "首页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "末页"
        }
}
$(document).ready(function(){
	$('#reportTable').DataTable({
                "language" : lang});
});
</script>
<style>
	#profileTable a {margin:5px;}
</style>
<link rel="stylesheet" href="${rc.contextPath}/css/page.css">
<link rel="stylesheet" type="text/css" href="${rc.contextPath}/css/dataTables.bootstrap.css">
<script type="text/javascript" language="javascript" src="${rc.contextPath}/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="${rc.contextPath}/js/dataTables.bootstrap.js"></script>
<script src="${rc.contextPath}/js/datepicker/WdatePicker.js"></script>
<div style="text-align:center"><h3>课时消耗</h3></div>

<div style="margin-bottom:10px;text-align:center">
    <form class="form-inline" method="post">
        <input id="beginDate" name="beginDate" value="$!{beginDate}" type="text" class="form-control" placeholder="开始时间" onfocus="WdatePicker()">
        <input id="endDate" name="endDate" value="$!{endDate}" type="text" class="form-control" placeholder="结束时间" onfocus="WdatePicker()">
      <button type="submit" class="btn btn-default">查询</button>
    </form>
	<div style="margin:10px;">
        	<span style="margin-right:50px;">总计课时：$!{keshi}</span>
        	<span>总计金额：$!{money}</span>
    </div>
</div>

<div class="tab-pane" id="shop_profile" style="margin-bottom:10px;">
	<table id="reportTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
            <tr>
                <th>学员</th>
                <th>课时</th>
                <th>金额</th>
            </tr>
		</thead>
		<tbody>
			#foreach($!{report} in $!{list})
        			<tr>
        				<td>$!{report.student}</td>
        				<td>$!{report.keshiDisplay}</td>
        				<td>$!{report.money}</td>
        			</tr>
        		#end
		</tbody>
	</table>
</div> 
