<link rel="stylesheet" href="${rc.contextPath}/css/page/login.css">
#set($layout = 'layout/blank.vm')
<div class="container">
	<section class="container">
    <div class="login">
      <h1>都逸私塾</h1>
	  #if($errorMessage)
    <div class="alert alert-danger alert-dismissable">
        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        	$!{errorMessage}
    </div>
	#end
      <form action="${rc.contextPath}/logon" method="post">
        <p><input type="text" name="name" value="" placeholder="账号"></p>
        <p><input type="password" name="password" value="" placeholder="密码"></p>
        <p class="submit"><input type="submit" name="commit" value="登陆"></p>
      </form>
    </div>

    </div>
  </section>
</div>
